ul {
  list-style: none;
}

input[type='checkbox'] {
  margin-right: 5px;
}

li.category {
  font-style: italic;
}

input.mainBox {
  display: none;
}

input.subOption {
  display: none;
}

.mainBox:checked + label {
  color: darkgreen;
}

.label-checked {
  color: darkgreen;
}

.tooltip-parent span {
  display: none;
}

.tooltip-parent:hover span {
  display: block;
  position: fixed;
  overflow: hidden;
  z-index: 1;
}

.tooltip-parent img {
  height: 420px;
}
