ul {
  list-style: none;
}

input[type='checkbox'] {
  margin-right: 5px;
}

li.category {
  font-style: italic;
}

input.mainBox {
  display: none;
}

input.subOption {
  display: none;
}

.mainBox:checked + label {
  color: darkgreen;
  font-weight: bold;
}

.label-checked {
  color: darkgreen;
  font-weight: bold;
}

#ttip {
  display: none;
  position: fixed;
  z-index: 1;
}

.card-body {
  padding: 0;
}

.modal-body {
  padding: 0;
}

#img-canvas {
  width:100%;
}

.modalButton {
  float: right;
}