ul {
  list-style: none;
}

input[type='checkbox'] {
  margin-right: 5px;
}

li.category {
  font-style: italic;
}

input.mainBox {
  display: none;
}

input.subOption {
  display: none;
}

.mainBox:checked + label {
  color: darkgreen;
}

.label-checked {
  color: darkgreen;
}

#ttip {
  display: none;
  position: fixed;
  z-index: 1;
}
