<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Checkpoint Selection</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>

<body class="container mt-3">
<button onclick="location.href = '/home';" class="btn btn-primary mb-2" style='top: 1%; right: 1%; position: fixed;'>Home</button>
<h1>Neural Network Weights</h1>
<h3>Checkpoint Selection</h3>
<p>
    By clicking on a checkpoint the weights of the corresponding training session are loaded into the ResNet152 model.
</p>
<p>
    <i>
        Please note that loading a checkpoint will take some time.
    </i>
</p>
<ul id="checkpoint_list" class="list-unstyled">
{% for checkpoint in checkpoints %}
    <li><button type="button" class="btn btn-primary" onclick="
            $.get('/load_checkpoint/{{ checkpoint }}').always(()=>{
                $('#loading_label').display = 'none';
                window.location.href = '{{ referrer_url if referrer_url else 'home' }}';
            });

            $('#checkpoint_list').hide();
            $('#spinner').show();

            ">{{ checkpoint }}</button></li>
{% endfor %}
</ul>

<div class="spinner-border" id="spinner" role="status" style="display: none;">
  <span class="sr-only">Loading...</span>
</div>

</body>
</html>