<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Checkpoint Selection</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>

<body class="container mt-3">
<h1>Neural Network Weights</h1>
<h3>Checkpoint Selection</h3>
<p>
    By clicking on a checkpoint the weights of the corresponding training session are loaded into the ResNet152 model.
</p>
<p>
    <i>
        Please note that loading a checkpoint will take some time.
    </i>
</p>
<ul>
{% for checkpoint in checkpoints %}
    <li><a href="/load_checkpoint/{{ checkpoint }}">{{ checkpoint }}</a></li>
{% endfor %}
</ul>
</body>
</html>