<!doctype html>

<head>
    <meta charset="UTF-8">
    <title>Mammogram Diagnosis Survey - Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>

<body class="container mt-3">

<h1>Mammogram Diagnosis Survey</h1>

<h3>Welcome {{ name }}!</h3>

<p>Please annotate the top units of this Neural Network after selecting a checkpoint:</p>

<p><a class="btn btn-outline-primary" href="/checkpoints">Checkpoint Selection</a></p>

<p><a class="btn btn-outline-primary" href="/top_units">Top Units (by custom scoring)</a></p>

<p><a class="btn btn-outline-primary" href="/top_units_by_weights">Top Units (by weights)</a></p>

<p><a class="btn btn-outline-primary" href="/top_units_by_appearances">Top Units (by appearances)</a></p>

<p><a class="btn btn-outline-primary" href="/correct_classified_images">Correct Classified Images</a></p>

</body>
