<head>
    <meta charset="UTF-8">
    <title>Image {{ image_name }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <style>
        #full-image {
            height: 600px;
            width: 100%;
            background-image: url({{ "/" + preprocessed_full_image_path }}), url({{ "/" + preprocessed_mask_path }});
            background-blend-mode: screen;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .bold-on-hover:hover {
            font-weight: bold;
        }
    </style>
    <script>
        function setHeatmap(heatmap_path) {
            $('#full-image').css('backgroundImage', 'url({{ "/" + preprocessed_full_image_path }}), url(/' + heatmap_path + ')');
        }

        function showGroundTruth() {
            $('#full-image').css('backgroundImage', 'url({{ "/" + preprocessed_full_image_path }}), url({{ "/" + preprocessed_mask_path }})');
        }

        function clearHeatmap() {
            $('#full-image').css('backgroundImage', 'url({{ "/" + preprocessed_full_image_path }})');
        }
        function storeCheckedFindings(clinical_findings) {
            var findings = [];
            var checkboxes = document.getElementById("findings").getElementsByClassName("checkbox");
            for (i in range(clinical_findings|length)) {
                if (checkboxes[i].checked) {
                    print("f")
                    print(clinical_findings[i])
                    findings.push(clinical_findings[i])
                }
            }
            session['stored_findings'] = findings;
            return redirect(url_for('stored_findings'));
        }
    </script>
</head>
<body>

<button onclick="location.href = '/home';" class="btn btn-primary mb-2" style='top: 1%; right: 1%; position: fixed;'>
    Home
</button>
<div class="container mt-3">

    <h1 class="my-2">Image Analysis</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card top-on-hover">
                <div class="card-header">
                    <div class="float-left">
                        <h4 class="m-0" style="display: inline;">
                            Prediction: {{ ('Normal', 'Benign', 'Cancer')[classification] }}</h4>
                    </div>
                    <div class="float-right">
                        {% if is_correct != 'no_ground_truth' %}
                            <h4 style="display: {{ 'inline' if is_correct else 'none' }}; color: green;">Correct ✓</h4>
                            <h4 class="text-right"
                                style="display: {{ 'none' if is_correct else 'inline' }}; color: red;">Incorrect ✗</h4>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="card-body">
                    {% if is_correct != 'no_ground_truth' %}
                        <p><b>Ground Truth:</b> {{ ('Normal', 'Benign', 'Cancer')[ground_truth] }}</p>
                    {% endif %}
                    <p><b>Image:</b> {{ image_name }}</p>
                    <p><b>Checkpoint used:</b> {{ checkpoint_path }}</p>

                    <p><b>Class probabilities:</b></p>
                    <ul>
                        <li>Normal: {{ (class_probs[0] * 100)|int }}%</li>
                        <li>Benign: {{ (class_probs[1] * 100)|int }}%</li>
                        <li>Cancer: {{ (class_probs[2] * 100)|int }}%</li>
                    </ul>
                    <p><b>Our clinical findings:</b></p>
                    <ul id="findings">
                        {% for i in range(clinical_findings|length) %}
                            <div class="row">
                                <div class="col-5">
                                    <li onMouseOver="setHeatmap('{{ phenomena_heatmaps[i] }}')"
                                        onMouseOut="showGroundTruth()"
                                        class="bold-on-hover"
                                    >{{ clinical_findings[i] }}
                                    </li>
                                </div>
                                <div class="col-5" style='margin-top: 2%;'>
                                    <input type="checkbox" value="" checked class="checkbox">
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                    <button onclick="location.href = '/similar_images/{{image_name}}';storeCheckedFindings(clinical_findings); "class="btn btn-primary mb-2">
                        Find similar images
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 card">
            <div class="card-image">

                <div id="full-image"
                     onMouseOver="clearHeatmap()"
                     onMouseOut="showGroundTruth()"
                ></div>
            </div>
        </div>
    </div>

    <h4 class="mt-4">Units that activated highest on this image:</h4>

    <div class="row">
        {% for rank in range(10) %}
            <div class="col-md-3 mt-3">
                <div class="card">
                    <div class="card-header">
                        {{ rank + 1 }}: Unit {{ top_units_and_activations[rank][0] + 1 }}
                    </div>
                    <a href="/unit/{{ top_units_and_activations[rank][0] + 1 }}">
                        <div style="
                                height: 330px; width: 100%;
                                background-image: url({{ "/" + preprocessed_full_image_path }}), url({{ "/" + heatmap_paths[rank] }});
                                background-blend-mode: screen;
                                background-size: contain;
                                background-repeat: no-repeat;
                                "
                             onMouseOver="this.style.backgroundImage = 'url({{ "/" + preprocessed_full_image_path }})'"
                             onMouseOut="this.style.backgroundImage = 'url({{ "/" + preprocessed_full_image_path }}), url({{ "/" + heatmap_paths[rank] }})'"></div>
                    </a>
                    <div class="card-body">
                        {#<ul>
                            <li>Normal: {{ top_units_and_activations[rank][1][0]|round(3) }}</li>
                            <li>Benign: {{ top_units_and_activations[rank][1][1]|round(3) }}</li>
                            <li>Cancer: {{ top_units_and_activations[rank][1][2]|round(3) }}</li>
                        </ul>#}
                        {% if unit_annotations %}
                            <ul class="list-unstyled">
                                {% for annotation in unit_annotations[top_units_and_activations[rank][0] + 1] %}
                                    <li>{{ annotation }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>
