<!doctype html>
{% include "navbar.html" %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='survey.css') }}">
<script type="text/javascript">
    function radioButtonClicked() {
        if (document.getElementById('shows_phenomena_btn').checked) {
            document.getElementById('phenomena_desc').style.display = 'block';
        } else {
            document.getElementById('phenomena_desc').style.display = 'none';
        }
    }
    window.onload = function() {
        radioButtonClicked();

        var subOptions = document.querySelectorAll('ul.subList');


        subOptions.forEach(subOption => {
            subOption.style.display = 'none';
        });
    };


    var getSiblings = function (elem) {
        var siblings = [];
        var sibling = elem.parentNode.firstChild;
        for (; sibling; sibling = sibling.nextSibling) {
            if (sibling.nodeType !== 1 || sibling === elem) continue;
            siblings.push(sibling);
        }
        return siblings;
    };


    function optionClicked(elem) {
        var siblings = getSiblings(elem);
        for (s of siblings) {
            if (s.tagName == 'LABEL') {

            } else {
                if (elem.checked) {
                    s.style.display = 'block';
                } else {
                    s.style.display = 'none';
                    s.querySelectorAll('input.subOption').forEach(subOpt => {
                        subOpt.checked = false;
                    })
                }
            }
        }
    }



</script>
<style type="text/css">
    ul {
        list-style: none;
    }
</style>
<div class="main">

    <h1>{{ model }}/{{ layer }}/{{ unit }}</h1>
    <p><a href="/overview/{% if full %}full/{% endif %}{% if ranked %}ranked/{% endif %}{{ name }}/{{ model }}/{{ layer }}#{{ unit }}">[go back to {{ model }}/{{ layer }}]</a></p>

    <h2>Instructions</h2>
    <p>
        1. Please inspect the highlighted areas within the images on this page, then answer the survey questions below.<br>
        2. The survey questions pertain only to the images shown on this page.<br>
        3. The images show different mammography scans.<br>
        4. <b>You must click on the submit button under the survey questions to save your responses.</b> After your responses are saved, you will be taken back to the previous page.<br>
    </p>

    <h2>Survey Questions</h2>
    <p>Note: The following questions pertain only to the images shown on this page.</p>

    <form action="{{ url_for('handle_survey') }}{% if full %}/full{% endif %}{% if ranked %}/ranked{% endif %}" method="post">
        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="model" value="{{ model }}">
        <input type="hidden" name="layer" value="{{ layer }}">
        <input type="hidden" name="unit" value="{{ unit }}">
        Are there ANY recognizable phenomena among the highlighted parts in the pictures?</br>
        <p>
            <label>
                <input name="shows_phenomena" type="radio" onclick="javascript:radioButtonClicked();" value="false" checked />
                <span>No recognizable phenomena present</span>
            </label>
        </p>
        <p>
            <label>
                <input id="shows_phenomena_btn" name="shows_phenomena" type="radio" onclick="javascript:radioButtonClicked();" value="true" />
                <span>Recognizable phenomena are present</span>
            </label>
        </p>
        <div id="phenomena_desc" class="phenomena_desc">
            <ul>
                <li>
                    <input type="checkbox" id="option" onclick="optionClicked(this)"><label for="option">Herdläsion</label>
                    <ul class="subList">
                        <li>Form</li>
                        <li><label><input type="checkbox" class="subOption" name="phe[mass[oval]]">Oval</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[mass[round]]">Rund</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[mass[irregular]]">Unregelmäßig</label></li>
                    </ul>
                    <ul class="subList">
                        <li>Rand</li>
                        <li><label><input type="checkbox" class="subOption" name="phe[margin[circumscribed]]">Umschrieben</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[margin[obscured]]">Verdeckt</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[margin[microlobulated]]">Mikrobuliert</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[margin[spiculated]]">Spikuliert</label></li>
                    </ul>
                    <ul class="subList">
                        <li>Dichte</li>
                        <li><label><input type="checkbox" class="subOption" name="phe[density[high]]">Hoch</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[density[equal]]">Gleich</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[density[low]]">Gering</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[density[fat]]">Fetthaltig</label></li>
                    </ul>
                </li>

                <li>
                    <input type="checkbox" id="option" onclick="optionClicked(this)"><label for="option">Verkalkung</label>
                    <ul class="subList">
                        <li>Verteilung</li>
                        <li><label><input type="checkbox" class="subOption" name="phe[distribution[diffuse]]">Diffus</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[distribution[regional]]">Regional</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[distribution[grouped]]">Gruppiert</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[distribution[linear]]">Linear</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[distribution[segmental]]">Segmental</label></li>
                    </ul>
                    <ul class="subList">
                        <li>Form</li>
                        <li><label><input type="checkbox" class="subOption" name="phe[type[vascular]]">Gefäßverkalkung</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[type[skin]]">Hautverkalkung</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[type[popcorn]]">Popcorn-Verkalkung</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[type[round]]">Runde Verkalkung</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[type[rim]]">Randverkalkung</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[type[dystrophic]">Dystroph</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[type[suture]]">Nahtmaterial</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[type[amorphous]]">Amorph</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[type[courseheterogenous]]">Grob heterogen</label></li>
                    </ul>
                </li>

                <li>
                    <input type="checkbox" id="option" onclick="optionClicked(this)" name="phe[architectural distorsion]"><label for="option">Architekturzerstörungen</label>
                </li>

                <li>
                    <input type="checkbox" id="option" onclick="optionClicked(this)"><label for="option">Asymetrien</label>
                    <ul class="subList">
                        <li>Typ</li>
                        <li><label><input type="checkbox" class="subOption" name="phe[asymetry[global]]">Global</label></li>
                        <li><label><input type="checkbox" class="subOption"name="phe[asymetry[focal]]">Fokal</label></li>
                    </ul>
                </li>

                <li>
                    <input type="checkbox" id="option" onclick="optionClicked(this)" name="phe[skinlesion]"><label for="option">Hautläsion</label>
                </li>

                <li>
                    <input type="checkbox" id="option" onclick="optionClicked(this)" name="phe[milkduct]"><label for="option">Einzelner erweiterter Milchgang</label>
                </li>

                <li>
                    <input type="checkbox" id="option" onclick="optionClicked(this)" name="phe[intramammarylymphnode]"><label for="option">Intramammärer Lymphknoten</label>
                </li>

                 <li>
                    <input type="checkbox" id="option" onclick="optionClicked(this)"><label for="option">Begleiterscheinungen</label>
                    <ul class="subList">
                        <li><label><input type="checkbox" class="subOption" name="phe[skinretraction]">Hautretraktion</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[mamillaryretraction]">Mamillenretraktion</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[skinthickening]">Hautverdickung</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[trabeculary]">Trabekuläre Verdichtung</label></li>
                        <li><label><input type="checkbox" class="subOption" name="phe[axillary]">Auxiläre Verdichtung</label></li>
                    </ul>

                </li>
            </ul>
        </div>
        <input type="submit">
    </form>


    <div style="margin-top:18px;">
    {% for i in range(top_images|length) %}
        {% if i % 4 == 0 %} </br> {% endif %}
        <a href="/image/{{ top_images[i] }}" style="display: inline-block">
            <div style="
                    height: 200px; width: 200px;
                    background-image: url({{ "/" + preprocessed_top_images[i] }}), url({{ "/" + activation_maps[i] }});
                    background-blend-mode: screen;
                    background-size: contain;
                    background-repeat: no-repeat;">

            </div>
        </a>
    {% endfor %}
    </div>
    <div style="clear: both;"></div>

</div>
