<!doctype html>
{% include "navbar.html" %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='survey.css') }}">
<script type="text/javascript">
    function radioButtonClicked() {
        if (document.getElementById('shows_phenomena_btn').checked) {
            document.getElementById('phenomena_desc').style.display = 'block';
        } else {
            document.getElementById('phenomena_desc').style.display = 'none';
            document.getElementById('phenomena_tf').value = '';
        }
    }
    window.onload = function() {
        radioButtonClicked();
    }
</script>
<div class="main">

    <h1>{{ model }}/{{ layer }}/{{ unit }}</h1>
    <p><a href="/overview/{% if full %}full/{% endif %}{% if ranked %}ranked/{% endif %}{{ name }}/{{ model }}/{{ layer }}#{{ unit }}">[go back to {{ model }}/{{ layer }}]</a></p>

    <h2>Instructions</h2>
    <p>
        1. Please inspect the highlighted areas within the images on this page, then answer the survey questions below.<br>
        2. The survey questions pertain only to the images shown on this page.<br>
        3. The images show different mammography scans.<br>
        4. <b>You must click on the submit button under the survey questions to save your responses.</b> After your responses are saved, you will be taken back to the previous page.<br>
    </p>

    <h2>Survey Questions</h2>
    <p>Note: The following questions pertain only to the images shown on this page.</p>

    <form action="{{ url_for('handle_survey') }}{% if full %}/full{% endif %}{% if ranked %}/ranked{% endif %}" method="post">
        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="model" value="{{ model }}">
        <input type="hidden" name="layer" value="{{ layer }}">
        <input type="hidden" name="unit" value="{{ unit }}">
        Are there ANY recognizable phenomena among the highlighted parts in the pictures?</br>
        <p>
            <label>
                <input name="shows_phenomena" type="radio" onclick="javascript:radioButtonClicked();" value="{% if old_response is not none %}{{ old_response.shows_phenomena }} {% else %}false{% endif %}" checked />
                <span>No recognizable phenomena present</span>
            </label>
        </p>
        <p>
            <label>
                <input id="shows_phenomena_btn" name="shows_phenomena" type="radio" onclick="javascript:radioButtonClicked();" value="{% if old_response is not none %}{{ old_response.shows_phenomena }} {% else %}true{% endif %}" />
                <span>Recognizable phenomena are present</span>
            </label>
        </p>
        <div id="phenomena_desc">
            Please enter a description of every phenomenon that you see (separate them with a comma).</br>
            <textarea id="phenomena_tf" name="phenomena_description" rows="10" cols="100">{% if old_response is not none %}{{ old_response.phenomena_description }}{% endif %}</textarea><br>
        </div>
        <input type="submit">
    </form>

    {% for row in data %}
        <div class="thumbwrap">
            {% for item in row %}
                <a class="thumb" href="#">
                    <img src="{{ url_for('static', filename=item.img_name) }}" class="patch">
                    <p class="label">patch label: {{ item.label }}</p>
                    <div>
                        <img src="{{ url_for('static', filename=item.raw_name) }}" class="raw">
                        <div style="{{ item.style }} border: 2px solid red;"></div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endfor %}
    <div style="clear: both;"></div>

</div>
