<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unit {{ unit_id }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='survey.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='survey.js') }}"></script>
</head>
<body>

<div class="container mt-3">
    <h1>Unit {{ unit_id }}</h1>

    <h2>Instructions</h2>
    <p>
        1. Please inspect the highlighted areas within the images on this page, then answer the survey questions
        below.<br>
        2. The survey questions pertain only to the images shown on this page.<br>
        3. The images show different mammography scans.<br>
        4. <b>You must click on the submit button under the survey questions to save your responses.</b> After your
        responses are saved, you will be taken back to the previous page.<br>
    </p>

    <h2>Survey</h2>
    <p>Are there ANY recognizable phenomena among the highlighted parts in the pictures?</p>
        <div class="row">
            <div class="col-4">
                <form action="{{ url_for('handle_survey') }}" method="post">
                    <input type="hidden" name="name" value="{{ name }}">
                    <input type="hidden" name="model" value="{{ model }}">
                    <input type="hidden" name="unit" value="{{ unit_id }}">
                    <input type="hidden" name="referrer_url" value="{{ referrer_url }}">
                    <p>
                        <label>
                            <input id="shows_phenomena_false" name="shows_phenomena" type="radio"
                                   onclick="javascript:updateShowPhenomena();" value="false"
                                    {% if shows_phenomena == "false" %} checked {% endif %}/>
                            <span>No recognizable phenomena present</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input id="shows_phenomena_true" name="shows_phenomena" type="radio"
                                   onclick="javascript:updateShowPhenomena();" value="true"
                                    {% if shows_phenomena == "true" %} checked {% endif %}/>
                            <span>Recognizable phenomena are present</span>
                        </label>
                    </p>
                    <div id="phenomena_desc" class="phenomena_desc">
                        <ul>
                            <li>
                                <input type="checkbox" class="mainBox" id="mass_box" onclick="optionClicked(this)"
                                       name="phe_mass" {% if phe_mass %} checked {% endif %}><label for="mass_box"
                                                                                                    class="mainCategory"><i
                                    class="octicon octicon-chevron-right"></i>Herdläsionen / Masses</label>
                                <ul class="subList">
                                    <li class="category">Form / Shape</li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_mass_oval"
                                            {% if phe_mass_oval %} checked {% endif %}><i class="octicon octicon-x"></i>Oval
                                        / Oval</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_mass_round"
                                            {% if phe_mass_round %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Rund / Round</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_mass_irregular"
                                            {% if phe_mass_irregular %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Irregulär / Irregular</label></li>
                                </ul>
                                <ul class="subList">
                                    <li class="category">Rand / Margin</li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)"
                                                      name="phe_margin_circumscribed" {% if phe_margin_circumscribed %}
                                                      checked {% endif %}><i class="octicon octicon-x"></i>Umschrieben /
                                        Circumscribed</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_margin_obscured"
                                            {% if phe_margin_obscured %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Verdeckt / Obscured</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)"
                                                      name="phe_margin_microlobulated"
                                            {% if phe_margin_microlobulated %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Mikrolobuliert / Microlobulated</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_margin_indistinct"
                                            {% if phe_margin_indistinct %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Unscharf / Indistinct</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_margin_spiculated"
                                            {% if phe_margin_spiculated %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Spikuliert / Spiculated</label></li>
                                </ul>
                                <ul class="subList">
                                    <li class="category">Dichte / Density</li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_density_high"
                                            {% if phe_density_high %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Vermehrt / High</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_density_equal"
                                            {% if phe_density_equal %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Gleich / Equal</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_density_low"
                                            {% if phe_density_low %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Niedrig / Low</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_density_fat"
                                            {% if phe_density_fat %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Fett enthaltend / Fat-containing</label></li>
                                </ul>
                            </li>
                            <li>
                                <input type="checkbox" class="mainBox" id="calcBox" onclick="optionClicked(this)"
                                       name="phe_calc" {% if phe_calc %} checked {% endif %}><label for="calcBox"
                                                                                                    class="mainCategory"><i
                                    class="octicon octicon-chevron-right"></i>Verkalkungen / Calcifications</label>
                                <ul class="subList">
                                    <li class="category">Typisch benigne / Typically benign</li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_type_skin"
                                            {% if phe_type_skin %} checked {% endif %}><i class="octicon octicon-x"></i>Haut
                                        / Skin</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_type_vascular"
                                            {% if phe_type_vascular %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Vaskulär / Vascular</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_type_popcorn"
                                            {% if phe_type_popcorn %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Grob oder "popcornartig" / Coarse or
                                        “popcorn-like”</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_type_rod_like"
                                            {% if phe_type_rod_like %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Groß stäbchenförmig / Large rod-like</label>
                                    </li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_type_round"
                                            {% if phe_type_round %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Rund / Round</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_type_rim"
                                            {% if phe_type_rim %} checked {% endif %}><i class="octicon octicon-x"></i>Randverkalkungen
                                        / Rim</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_type_dystrophic"
                                            {% if phe_type_dystrophic %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Dystroph / Dystrophic</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_type_calcium"
                                            {% if phe_type_calcium %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Kalkmilch / Milk of calcium</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_type_suture"
                                            {% if phe_type_suture %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Nahtmaterial / Suture</label></li>
                                </ul>
                                <ul class="subList">
                                    <li class="category">Verdächtige Morphe / Suspicious morphology</li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)"
                                                      name="phe_distribution_diffuse" {% if phe_distribution_diffuse %}
                                                      checked {% endif %}><i class="octicon octicon-x"></i>Amorph /
                                        Amorphous</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)"
                                                      name="phe_distribution_regional"
                                            {% if phe_distribution_regional %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Grob heterogene / Coarse heterogeneous
                                    </label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)"
                                                      name="phe_distribution_grouped" {% if phe_distribution_grouped %}
                                                      checked {% endif %}><i class="octicon octicon-x"></i>Fein
                                        pleomorph / Fine pleomorphic </label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_distribution_linear"
                                            {% if phe_distribution_linear %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Fein linear oder fein linear, sich verzweigend
                                        / Fine linear or fine-linear branching </label></li>
                                </ul>
                                <ul class="subList">
                                    <li class="category">Verteilung / Distribution</li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)"
                                                      name="phe_distribution_diffuse" {% if phe_distribution_diffuse %}
                                                      checked {% endif %}><i class="octicon octicon-x"></i>Diffus /
                                        Diffuse</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)"
                                                      name="phe_distribution_regional"
                                            {% if phe_distribution_regional %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Regional / Regional</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)"
                                                      name="phe_distribution_grouped" {% if phe_distribution_grouped %}
                                                      checked {% endif %}><i class="octicon octicon-x"></i>Gruppiert /
                                        Grouped</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_distribution_linear"
                                            {% if phe_distribution_linear %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Linear / Linear</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)"
                                                      name="phe_distribution_segmental"
                                            {% if phe_distribution_segmental %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Segmental / Segmental</label></li>
                                </ul>
                            </li>
                            <li>
                                <input type="checkbox" class="mainBox" id="distorsion_box" onclick="optionClicked(this)"
                                       name="phe_architectural_distorsion" {% if phe_architectural_distorsion %}
                                       checked {% endif %}><label for="distorsion_box" class="mainCategory"><i
                                    class="octicon octicon-x"></i>Architekturstörung / Architectural distortion</label>
                            </li>
                            <li>
                                <input type="checkbox" class="mainBox" id="asym_box" onclick="optionClicked(this)"
                                       name="phe_asymmetries" {% if phe_asymmetries %} checked {% endif %}><label
                                    for="asym_box" class="mainCategory"><i class="octicon octicon-chevron-right"></i>Asymmetrien
                                / Asymmetries</label>
                                <ul class="subList">
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_asymetry"
                                            {% if phe_asymetry %} checked {% endif %}><i class="octicon octicon-x"></i>Asymmetrie
                                        / Asymmetry</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_asymetry_global"
                                            {% if phe_asymetry_global %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Globale Asymmetrie / Global asymmetry</label>
                                    </li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_asymetry_focal"
                                            {% if phe_asymetry_focal %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Fokale Asymmetrie / Focal asymmetry</label>
                                    </li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_asymetry_developing"
                                            {% if phe_asymetry_developing %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Sich entwickelnde Asymmetrie / Developing
                                        asymmetry</label></li>
                                </ul>
                            </li>
                            <li>
                                <input type="checkbox" class="mainBox" id="lymphnode_box" onclick="optionClicked(this)"
                                       name="phe_intramammarylymphnode" {% if phe_intramammarylymphnode %}
                                       checked {% endif %}><label for="lymphnode_box" class="mainCategory"><i
                                    class="octicon octicon-x"></i>Intramammärer Lymphknoten / Intramammary lymph
                                node</label>
                            </li>
                            <li>
                                <input type="checkbox" class="mainBox" id="skinlesion_box" onclick="optionClicked(this)"
                                       name="phe_skinlesion" {% if phe_skinlesion %} checked {% endif %}><label
                                    for="skinlesion_box" class="mainCategory"><i class="octicon octicon-x"></i>Hautläsion
                                / Skin lesion</label>
                            </li>
                            <li>
                                <input type="checkbox" class="mainBox" id="milkduct_box" onclick="optionClicked(this)"
                                       name="phe_milkduct" {% if phe_milkduct %} checked {% endif %}><label
                                    for="milkduct_box" class="mainCategory"><i class="octicon octicon-x"></i>Solitärer
                                dilatierter Gang / Solitary dilated duct</label>
                            </li>
                            <li>
                                <input type="checkbox" class="mainBox" id="epi_box" onclick="optionClicked(this)"
                                       name="phe_epiphenomenon" {% if phe_epiphenomenon %} checked {% endif %}><label
                                    for="epi_box" class="mainCategory"><i class="octicon octicon-chevron-right"></i>Begleitmerkmale
                                / Associated features</label>
                                <ul class="subList">
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_skinretraction"
                                            {% if phe_skinretraction %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Hauteinziehung / Skin retraction</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_mamillaryretraction"
                                            {% if phe_mamillaryretraction %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Mamillenretraktion / Nipple retraction</label>
                                    </li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_skinthickening"
                                            {% if phe_skinthickening %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Hautverdickung / Skin thickening</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_trabeculary"
                                            {% if phe_trabeculary %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Trabekuläre Verdichtung / Trabecular
                                        thickening</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_axillary"
                                            {% if phe_axillary %} checked {% endif %}><i class="octicon octicon-x"></i>Axilläre
                                        Lymphadenopathie / Axillary adenopathy</label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_architectural"
                                            {% if phe_architectural %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Architekturstörung / Architectural distortion
                                        / </label></li>
                                    <li><label><input type="checkbox" class="subOption"
                                                      onclick="updateSuboptionIcon(this)" name="phe_calcifications"
                                            {% if phe_calcifications %} checked {% endif %}><i
                                            class="octicon octicon-x"></i>Verkalkungen / Calcifications</label></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-primary">Senden</button>
                </form>
            </div>

            <div class="col-8">
                <h4>Patches where this unit activated highest:</h4>
                <div class="row">
                    {% for i in range(top_patches|length) %}
                        <div class="col-3 mt-3">
                            <div class="card">
                                <div class="card-header">
                                    Rank {{ i + 1 }}
                                </div>
                                <div style="
                                        height: 150px; width: 150px;
                                        background-image: url({{ "/static/ddsm_3class/" + top_patches[i] }}), url({{ "/" + patch_heatmaps[i] }});
                                        background-blend-mode: screen;
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        "></div>
                                <div class="card-body">
                                    <p class="card-text">{{ top_patches[i] }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <h4>Images where this unit activated highest:</h4>
                <div class="row">
                    {% for i in range(top_images|length) %}
                        <div class="col-3 mt-3">
                            <div class="card">
                                <div class="card-header">
                                    Rank {{ i + 1 }}
                                </div>
                                <a href="/image/{{ top_images[i] }}">
                                    <div style="
                                            height: 300px; width: 230px;
                                            background-image: url({{ "/" + preprocessed_top_images[i] }}), url({{ "/" + heatmaps[i] }});
                                            background-blend-mode: screen;
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            "></div>
                                </a>
                                <div class="card-body">
                                    <p class="card-text">{{ top_images[i] }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</div>

</body>
</html>